.nav-item {
    margin-left: auto;
}


.jumbotron img {
    height: 200px;
    margin-left: auto;
}
.jumbotron {
    background-color: rgba(0, 0, 0, 0.516);
    color:white;
}
h1 {
    margin: 0 auto;
}

.card {
    margin: 1rem;
}
